h1{
    height: 260px;
    width: 400px;
    margin: 40px auto;
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    border: 5px solid rgb(246, 252, 246);
    background: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
   background-position: left;
   padding-top: 40px;
   box-shadow: 2px 5px 10px  black  ;
}
h2{
    text-align: center;
    margin: 20px;
}